


/* ==========================================================================
    Services Styling
   ========================================================================== */
#services {
  padding-top: 60px;
  margin-top: -10px;
}

.service-item {
  padding-bottom: 40px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.service-item h3 {
  font-size: 18px;
  font-weight: 600;
}
.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 126px;
  height: 128px;
  display: block;
}
.service-item .service-icon.first {
  background-image: url(../images/service-first.png);
  background-size: cover;
}
.service-item .service-icon.second {
  background-image: url(../images/service-second.png);
  background-size: cover;
}
.service-item .service-icon.third {
  background-image: url(../images/service-third.png);
  background-size: cover;
}
.service-item .service-icon.fourth {
  background-image: url(../images/service-fourth.png);
  background-size: cover;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: #000;
}


