


/* ==========================================================================
    Services Styling
   ========================================================================== */
#services {
  padding-top: 30px;
  margin-top: -10px;
}

.service-item {
  padding-bottom: 40px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.service-item h3 {
  font-size: 18px;
  font-weight: 600;
}
.service-item .service-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 212px;
  height: 200px;
  display: block;
}
.service-item .service-icon.first {
  background-image: url(../images/service-first.png);
  background-size: cover;
}
.service-item .service-icon.second {
  background-image: url(../images/service-second.png);
  background-size: cover;
}
.service-item .service-icon.third {
  background-image: url(../images/service-third.png);
  background-size: cover;
}
.service-item .service-icon.fourth {
  background-image: url(../images/service-fourth.png);
  background-size: cover;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: #E5E5E5;
}
.floatR{
  float: right;
}
.alfa{
  background: rgba(0, 0, 0, 0.40);
  padding: 5px;
}
.about{
 
    font-size: 0.95em;
    padding: 1.5em;
}
.navnav{
  background: rgba(52, 77, 102, 0.94);
  margin: 0;
  max-width: initial;
}
.logonav{
  max-width: 975px;
  padding: 0.1em 0;
}
.pad{
  padding: 0 0 115px 0;
}
.allBody{
  max-width: 1100px;
  margin: 0 auto;
}
